asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
colorama==0.4.6
Django==6.0.5
gunicorn==26.0.0
idna==3.17
img2pdf==0.6.3
lxml==6.1.1
packaging==26.2
pikepdf==10.7.2
pillow==12.2.0
pypdf==6.12.2
requests==2.34.2
sqlparse==0.5.5
tqdm==4.67.3
tzdata==2026.2
urllib3==2.7.0
vercel_blob==0.4.2
whitenoise==6.12.0